/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    /*.container {
      max-width: 730px;
    }*/
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    footer{width:830px;height:50px;margin:40px auto 0 auto;padding:10px 0 0 0;}
    ul.socicon{margin:0}ul.socicon li{display:block;padding:0;margin:0 5px 0 0;float:left}
    ul.socicon li a{width:32px;height:32px;display:block;padding:0;margin:0}
    ul.socicon li a.dribbble{background:url(../images/dribbble.png) 0 0 no-repeat}
    ul.socicon li a.facebook{background:url(../images/facebook.png) 0 0 no-repeat}
    ul.socicon li a.google{ background:url(../images/google.png) 0 0 no-repeat;}
    ul.socicon li a.twitter{background:url(../images/twitter.png) 0 0 no-repeat}
    ul.socicon li a.flickr{background:url(../images/flickr.png) 0 0 no-repeat}
    ul.socicon li a.linkedin{background:url(../images/twitter.png) 0 0 no-repeat}
    ul.socicon li a.vimeo{background:url(../images/vimeo.png) 0 0 no-repeat}
    ul.socicon li a:hover{background-position:0 -32px}
    ul.socicon li.last{margin-right:0}
    .tipsy{padding:5px;background-repeat:no-repeat;opacity:0.8;filter:alpha(opacity=80); background-image:url(../images/twitter.png)}
}
