<div>
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    <div class="description">
        <span >Agility Experiences</span>
        <div >Proficiency of web technologies : HTML/CSS.</div>
        <div >Interested with RIA development (GWT and Angular)</div>
        <div >Experiences in JEE : Spring, Hibernate, NOSQL, ElasticSearch</div>
    </div>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

