<section id="projects"><div class=wrapper><article><div class="container row" style="padding-left: 8%;"><div class="fivesixth">
    <div class="container row push-sixth">

        <dl>
            <dt><abbr title="Génerali, Java/J2EE Developer">Génerali, Java/J2EE Developer</abbr> : <a href="http://parser-cliff.eu01.aws.af.cm/live0/" target="_blank">
                <span >Development d'un poste de travail pour les agents</span>
            </a><span class=technUsed>GWT, Spring, WSDL, Hibernate, Maven</span></dt>
            <dd>
                <span >Achievements <span>
				<ul>
                    <li>Development of UI with gwt</li>
                    <li>Implementation of unit test using Mockito and junit</li>
                    <li>Mise en place des bonnes pratiques de développement sur la partie gwt + css</li>
                    <li>Implementation of back office with Rest WS</li>
                    <li>Development of research engine using Elasticsearch</li>
                    <li>Generation of JMeter scripts</li>
                </ul>
				</span>

            </dd>
        </dl>


        <dl>
            <dt><abbr title="Valeo, Technical leader">Valeo, Technical leader</abbr> : <a href="http://parser-cliff.eu01.aws.af.cm/live0/" target="_blank">
                <span >Design and implementation of internal newsletters application</span>
            </a><span class=technUsed>GWT, GAE, SpringMVC, Objectify</span></dt>
            <dd>
                <span >Achievements <span>
				<ul>
                    <li>Realization of gae/gwt POC</li>
                    <li>Configuration of development factory (Maven, Github, CloudBees, GAE)</li>
                    <li>Implementation of Administration module with gwt framework</li>
                    <li>Development of persistence layer with Objectify</li>
                    <li>Development of front-end en html5, css3 et spring mvc</li>
                </ul>
				</span>

            </dd>
        </dl>

        <dl>
            <dt><abbr title="Atlas Technology Solutions, JEE Developper">Atlas Technology Solutions, JEE Developper</abbr> : <a href="http://parser-cliff.eu01.aws.af.cm/live0/" target="_blank">
                <span >Development of brokerage system for reinsurance traders</span>
            </a><span class=technUsed>Hibernate, Spring, GWT 2, GXT</span></dt>
            <dd>
                <span >Achievements <span>
				<ul>
                    <li>Development of gxt/gwt UI</li>
                    <li>Reporting with Birt</li>
                    <li>Implementation of Administration module with gwt framework</li>
                    <li>Development of persistence layer with Objectify</li>
                    <li>Development of backend using Hibernate / Spring</li>
                </ul>
				</span>
				
				<span >DEVELOPEMENT OF INSURANCE DATABASE</span>
                    </a><span class=technUsed>Flex 4, Caringorm 2, Actionscript 3, Hibernate, Spring</span></dt>
            <dd>
                <span >Achievements <span>
				<ul>
                    <li>Implementation of POC with Cairngorm actionscript framework</li>
                    <li>Implementation of MVC pattern</li>
                    <li>Development of UI using Flex /ActionScript</li>
                    <li>Development of unit test with Junit</li>
                    <li>Reporting with Birt</li>
                    <li>Development of backend using Hibernate / Spring</li>
                </ul>
				</span>

            </dd>
        </dl>
        <dl>
            <dt><abbr title="Medinfo IHS, Web Developer">Medinfo IHS, Web Developer</abbr> : <a href="http://parser-cliff.eu01.aws.af.cm/live0/" target="_blank">
                <span >DEVELOPMENT OF HAEMOVIGILANCE SYSTEM TO DECLARE INCIDENTS AND ADVERSE REACTION IN TRANSFUSION CENTER</span>
            </a><span class=technUsed>Hibernate, EJB3, Struts 2, Dojo 1.2.3, JBOSS 4.0.4, SVN, Ant</span></dt>
            <dd>
                <span >Achievements <span>
				<ul>
                    <li>Development of back office with Hibernate and EJB3</li>
                    <li>Design of front office with jsp and struts 2</li>
                    <li>Implementation of AJAX layer using javascript Dojo framework</li>
                    <li>Implementation of multilanguage UI including right-to-left features</li>
                </ul>
				</span>
				
				<span >REALIZATION OF RENDEZ-VOUS SERVER OF VOLUNTARY BLOOD DONOR</span>
                    </a><span class=technUsed>Flex 3, Actionscript, Hibernate, EJB3, JBOSS 4.0.4, SVN, Ant</span></dt>
            <dd>
                <span >Achievements <span>
				<ul>
                    <li>Development of presentation layer using Flex 3 and actionscript</li>
                    <li>Conception of back office layer using Hibernate and EJB3</li>
                    <li>Generation of report with JasperReport</li>
                    <li>Creation of script de build de l’application</li>
                </ul>
				</span>

            </dd>
        </dl>


    </div>
</div></div></article></div></section>