<ul class="slides description">
    <input type="radio" name="radio-btn" id="img-1" checked />
    <li class="slide-container">
        <div class="slide">
            <img src="images/mediametrie.png" />
            <dl>
                <dt><abbr title="Génerali, Java/J2EE Developer">Génerali, Java/J2EE Developer</abbr>
                    <span >Development d'un poste de travail pour les agents</span><br/>
                    <span class="technUsed"> Technology : GWT, Spring, WSDL, Hibernate, Maven</span></dt>
                <dd>
                    <span >Achievements </span>
                    <ul>
                        <li>Development of UI with gwt</li>
                        <li>Implementation of unit test using Mockito and junit</li>
                        <li>Mise en place des bonnes pratiques de développement sur la partie gwt + css</li>
                        <li>Implementation of back office with Rest WS</li>
                        <li>Development of research engine using Elasticsearch</li>
                        <li>Generation of JMeter scripts</li>
                    </ul>
                    </span>
                </dd>
            </dl>

        </div>
        <div class="nav">
            <label for="img-4" class="prev">&#x2039;</label>
            <label for="img-2" class="next">&#x203a;</label>
        </div>
    </li>

    <input type="radio" name="radio-btn" id="img-2" />
    <li class="slide-container">
        <div class="slide">
            <img src="images/generali.jpg" />
            <dl>
                <dt><abbr title="Génerali, Java/J2EE Developer">Génerali, Java/J2EE Developer</abbr> :
                    <span >Development d'un poste de travail pour les agents</span><br/>
                    <span class=technUsed>Technology : GWT, Spring, WSDL, Hibernate, Maven</span></dt>
                <dd>
                    <span >Achievements </span>
                    <ul>
                        <li>Development of UI with gwt</li>
                        <li>Implementation of unit test using Mockito and junit</li>
                        <li>Mise en place des bonnes pratiques de développement sur la partie gwt + css</li>
                        <li>Implementation of back office with Rest WS</li>
                        <li>Development of research engine using Elasticsearch</li>
                        <li>Generation of JMeter scripts</li>
                    </ul>
                    </span>
                </dd>
            </dl>
        </div>
        <div class="nav">
            <label for="img-1" class="prev">&#x2039;</label>
            <label for="img-3" class="next">&#x203a;</label>
        </div>
    </li>

    <input type="radio" name="radio-btn" id="img-3" />
    <li class="slide-container">
        <div class="slide">
            <img src="images/atlas.png" />
            <dl>
                <p>
                <dt><abbr title="Atlas Technology Solutions, JEE Developper">Atlas Technology Solutions, JEE Developper</abbr> :
                    <span >Development of brokerage system for reinsurance traders</span><br/>
                    <span class=technUsed>Technology : Hibernate, Spring, GWT 2, GXT</span></dt>
                <dd>
                    <span >Achievements </span>
                    <ul>
                        <li>Development of gxt/gwt UI</li>
                        <li>Reporting with Birt</li>
                        <li>Implementation of Administration module with gwt framework</li>
                        <li>Development of persistence layer with Objectify</li>
                        <li>Development of backend using Hibernate / Spring</li> <br/>
                    </ul>
                </dd>
                </p>
                <dt>
                    <span >DEVELOPEMENT OF INSURANCE DATABASE</span> <br/>
                    <span class=technUsed> Technology : Flex 4, Caringorm 2, Actionscript 3, Hibernate, Spring</span>
                </dt>
                <dd>
                    <span >Achievements </span>
                    <ul>
                        <li>Implementation of POC with Cairngorm actionscript framework</li>
                        <li>Implementation of MVC pattern</li>
                        <li>Development of UI using Flex /ActionScript</li>
                        <li>Development of unit test with Junit</li>
                        <li>Reporting with Birt</li>
                        <li>Development of backend using Hibernate / Spring</li>
                    </ul>
                    </span>

                </dd>
            </dl>
        </div>
        <div class="nav">
            <label for="img-2" class="prev">&#x2039;</label>
            <label for="img-4" class="next">&#x203a;</label>
        </div>
    </li>

    <input type="radio" name="radio-btn" id="img-4" />
    <li class="slide-container">
        <div class="slide">
            <img src="images/medinfo.gif" />
            <dl>
                <dt><abbr title="Medinfo IHS, Web Developer">Medinfo IHS, Web Developer</abbr> :
                    <span >DEVELOPMENT OF HAEMOVIGILANCE SYSTEM TO DECLARE INCIDENTS AND ADVERSE REACTION IN TRANSFUSION CENTER</span><br/>
                    <span class=technUsed>Hibernate, EJB3, Struts 2, Dojo 1.2.3, JBOSS 4.0.4, SVN, Ant</span></dt>
                <dd>
                    <span >Achievements </span>
                    <ul>
                        <li>Development of back office with Hibernate and EJB3</li>
                        <li>Design of front office with jsp and struts 2</li>
                        <li>Implementation of AJAX layer using javascript Dojo framework</li>
                        <li>Implementation of multilanguage UI including right-to-left features</li>
                    </ul>
                    </span>
                </dd>
                <span >REALIZATION OF RENDEZ-VOUS SERVER OF VOLUNTARY BLOOD DONOR</span>
                </a><span class=technUsed>Flex 3, Actionscript, Hibernate, EJB3, JBOSS 4.0.4, SVN, Ant</span></dt>
                <dd>
                    <span >Achievements </span>
                    <ul>
                        <li>Development of presentation layer using Flex 3 and actionscript</li>
                        <li>Conception of back office layer using Hibernate and EJB3</li>
                        <li>Generation of report with JasperReport</li>
                        <li>Creation of script de build de l’application</li>
                    </ul>
                    </span>

                </dd>
            </dl>
        </div>
        <div class="nav">
            <label for="img-3" class="prev">&#x2039;</label>
            <label for="img-1" class="next">&#x203a;</label>
        </div>
    </li>


    <li class="nav-dots">
        <label for="img-1" class="nav-dot" id="img-dot-1"></label>
        <label for="img-2" class="nav-dot" id="img-dot-2"></label>
        <label for="img-3" class="nav-dot" id="img-dot-3"></label>
        <label for="img-4" class="nav-dot" id="img-dot-4"></label>
    </li>
</ul>